{% extends 'base.html' %}

{% block content %}



    <div class="container">


        <div class="card-block">
                <div class="row">

                        <ul class="container details">
                            <div class="card-header bg-success text-center text-white accordion">
                                <h1>Congratulations</h1>
                            </div>

                            <ul class="list-group">


                                    <li class="list-group-item">
                                        <h3> You have completed this section !!! </h3>
                                    </li>


                            </ul>


                        </ul>

                </div>
        </div>


{% endblock %}